@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Bodoni Moda", serif;
  --font-curvy: "Fraunces", serif;
  --font-italic: "Nigella Curvy", serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-black text-white antialiased overflow-x-hidden;
  }
}

.text-outline {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.05);
  color: transparent;
}

.mix-blend-difference {
  mix-blend-mode: difference;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
